img {
    max-width: 32.5vw;
    max-height: 500px;
    width: 100%;
}

@media screen and (max-width: 638px) and (min-width: 400px) {
   img { max-width: 48vw;
   }
}

@media screen and (max-width: 400px) and (min-width: 320px) {
    img { max-width: 47.5vw;
    }
 }

 @media screen and (max-width: 320px) {
    img { max-width: 46vw;
    }
 }

section {
    display:block;
    flex-wrap: wrap;
}

button {
    position: fixed;
    padding: 3vw;
    font-size: 20px;
}

html {
    background-color: rgb(37, 37, 37);
}